.uk-hp-login-bg{
  background-image:  url('../assets/general/Headerbg.jpg');
  min-height: calc(100vh - 50px);
}
.uk-hp-login-subscribe{
  border-top: 1px solid $grey;
  border-bottom: 1px solid $grey;
}
.uk-hp-margin-nav-top{
  margin-top: 50px;
}
