{% load static wagtailuserbar %}

<!DOCTYPE html>
<html class="no-js" lang="{{ LANGUAGE_CODE |default:'en'}}" {% block extrahtml %}{% endblock %}>
  <head>
      <meta charset="utf-8" />
      <title>
          {% block title %}
              {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
          {% endblock %}
          {% block title_suffix %}
              {% with self.get_site.site_name as site_name %}
                  {% if site_name %}- {{ site_name }}{% endif %}
              {% endwith %}
          {% endblock %}
      </title>
      <meta name="description" content="" />
      <meta name="viewport" content="width=device-width, initial-scale=1" />

      {# Global stylesheets #}
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
      <link rel="stylesheet" type="text/css" href="{% static 'css/hptx.css' %}">

      {% block extra_css %}
          {# Override this in templates to add extra stylesheets #}
      {% endblock %}
  </head>
  <body class="{% block body_class %}{% endblock %}">
    {% wagtailuserbar %}
    <div {% block vue_app %}id="app"{% endblock %}>
      <header class="header uk-margin-bottom">
        <div class="uk-navbar-container">
          <div class="uk-container" uk-navbar>
            <div class="uk-navbar-left">
                <a href="" class="uk-navbar-item uk-logo"><img src="{% static 'src/assets/Navbar/Logo.png'%}" alt="Houston Prominence" /></a>
            </div>
            <div class="uk-navbar-right">
                <div class="uk-navbar-item">
                  <a href="" class="uk-button uk-button-primary">Subscribe now</a>
                </div>
                <div class="uk-navbar-item">
                  <a href="" class="hp-link-primary fs-sm uk-margin-small-right">Log in</a>
                </div>
            </div>
          </div>
        </div>
      </header>
      <div class="uk-container">
        <div class="uk-grid-small" uk-grid>
          <aside class="uk-width-1-6">
              {% block left-sidebar-content %}
              {% include "base/left-bar.html" %}
              {% endblock left-sidebar-content %}
          </aside>
          <main class="uk-width-expand">
            {% block content %}{% endblock %}
          </main>
          <aside class="uk-width-1-4">
            <div class="uk-card uk-card-default">
              {% block right-sidebar-content %}
              {% include "base/right-bar.html" %}
              {% endblock right-sidebar-content %}
            </div>
          </aside>
        </div>
      </div>
        <!-- <h1 style="display: inline-block;">HEADER</h1>
        <table style="float: right;">
          <tr>
            {% if not user.is_authenticated %}
            <td><a href="{% url 'user:signup'%}">Sign up</a></td>
            <td><a href="{% url 'user:login'%}"> | Log in</a></td>
            {% else %}
            <td>Hello, {{ user.first_name }} {{ user.last_name }}</td>
            <td><a href="{% url 'user:logout'%}"> | Log out</a></td>
            {% endif %}
            <td><a href="{% url 'plans'%}"> | Plans</a></td>
          </tr>
        </table> -->
      <section class="footer">
          <h1>FOOTER</h1>
      </section>
    </div>

    {# Global javascript #}
    <script type="text/javascript" src="{% static 'js/hptx.js' %}"></script>

    {% if page and page.twitter_handler %}
     <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    {% endif %}

    {% block extra_js %}
        {# Override this in templates to add extra javascript #}
    {% endblock %}

    <!-- VUE SCRIPT -->
    {% if debug %}
    <script src="http://localhost:9000/static/app.buildVue.js"></script>
    {% else %}
    <script src="{% static 'app.buildVue.js' %}"></script>
    {% endif %}
  </body>
</html>
