{% load wagtailcore_tags %}

<div class="uk-card uk-card-default uk-margin-bottom">
  <div class="uk-card-header">
    <h3 class="uk-card-title">+ Topics</h3>
  </div>
  <div class="uk-card-body">
    <ul class="uk-list">
      <li class="uk-flex uk-flex-middle"><span class="uk-list__hp-badge">+</span> Facebook</li>
      <li>Twitter</li>
      <li>Instagram</li>
      {% for link in page.left_menu.all %}
      <li><a href="{% slugurl 'articles' %}?tag={{ link.tag }}">{{ link.name }}</a></li>
      {% endfor %}
    </ul>
  </div>
  <hr class="hptx-divider-quarter">
  <div class="uk-card-body">
    <ul class="uk-list">
      <li>Facebook</li>
      <li>Twitter</li>
      <li>Instagram</li>
    </ul>
  </div>
</div>
<div class="uk-card uk-card-default">
  <div class="uk-card-body">
    <ul class="uk-list">
      <li>Facebook</li>
      <li>Twitter</li>
      <li>Instagram</li>
    </ul>
  </div>
</div>
