{% load staticfiles %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

<div class="uk-card uk-card-default uk-margin-bottom">
  <div class="uk-card-body uk-card-body--slim">
    <ul class="uk-list uk-list--menu uk-list--primary">
      <li class="uk-flex uk-flex-middle">
        <span class="uk-list__hp-badge fc-brand-primary uk-visible@m">+</span><span class="fc-brand-secondary-lighter uk-visible@m">Topics</span>
        <a class="uk-hidden@m" href="#" uk-toggle="target: #responsive-menu; media: @s; cls: uk-visible@m"><span class="uk-list__hp-badge fc-brand-primary">+</span><span class="fc-brand-secondary-lighter">Topics</span></a>
      </li>
    </ul>
  </div>
  <div id="responsive-menu" class="uk-visible@m">
    <hr class="hptx-divider-nogutter">
    <div class="uk-card-body" >
      <ul class="uk-list uk-list--menu uk-list--primary">
        {% for link in homepage.left_menu.all %}
        <li class="uk-flex uk-flex-middle"><a class="hp-link-primary" href="{% slugurl 'articles' %}tag/{{ link.tag.slug }}/">{% if link.image %}<img src="{{ link.image.file.url }}" width="20" height="20" class="uk-list__hp-badge" alt="" />{% else %}<span class="uk-list__hp-badge"><i class="fas fa-tag }}"></i></span>{% endif%}{{ link.name }}</a></li>
        {% endfor %}
      </ul>
    </div>
    <hr class="hptx-divider-nogutter">
    <div class="uk-card-body {% if page.slug == 'podcasts' %}uk-card-body--active{% endif %}">
      <ul class="uk-list uk-list--menu">
        <li class="uk-flex uk-flex-middle"><span class="uk-list__hp-badge"><i class="fas fa-podcast"></i></span><a href="{% slugurl 'podcasts' %}">Podcasts</a></li>
      </ul>
    </div>
    <hr class="hptx-divider-nogutter">
    <div class="uk-card-body">
      <ul class="uk-list uk-list--menu">
        {% for link in homepage.left_submenu.all %}
        <li><a href="{% slugurl 'articles' %}tag/{{ link.tag.slug }}/"><span class="uk-list__hp-badge"><i class="fas fa-{{ link.icon|default:'tag' }}"></i></span>{{ link.name }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>

{% if homepage.live_radio_link %}
<a class="uk-button uk-hp-button-live-radio uk-margin-small-bottom" href="{{homepage.live_radio_link}}" target="_blank">
  Live Radio
  <div class="uk-hp-button-live-radio__badge"><span><i class="fas fa-play"></i></span></div>
</a>
{% endif %}

<div class="uk-visible@m uk-margin-bottom">
  {% include "base/partials/social_box.html" %}
</div>
