.hptx-divider-half {
  margin-bottom: round($global-margin / 2);
  margin-top: round($global-margin / 2);
}

.hptx-divider-quarter {
  margin-bottom: round($global-margin / 4);
  margin-top: round($global-margin / 4);
}
