@font-face {
  font-family: 'Avenir';
  src: url('../fonts/Avenir/Avenir.ttc');
}

@font-face {
  font-family: 'DIN Condensed Bold';
  font-weight: 900;
  src: url('../fonts/DIN Condensed/DIN Condensed Bold.ttf');
}
