// Colors
$navy: #121E4E;
$navy-light: #1C2A5E;
$navy-lighter: #566187;
$sky-blue: #1C7ED6 ;
$orange: #FF4300;
$white: #FFFFFF;


$facebook: #3B5998;
$twitter: #00ACED;
$instagram: #E4405F;

// Greys
$light-grey: #F8F9FA;
$grey: #E9ECEF;
$dark-grey: #CED4DA;
$white: #FFFFFF;

// Theme
$brand-primary: $orange;
$brand-secondary: $navy;
$brand-secondary-light: $navy-light;
$brand-secondary-lighter: $navy-lighter;

$brand-action-gradient: linear-gradient(153.43deg, #FF7800 0%, $orange 100%);
$brand-secondary-action-gradient: linear-gradient(133deg, $navy 0%, $sky-blue 100%);

// Fonts
$font-primary: "Avenir", sans-serif;
$font-title: "DIN Condensed", sans-serif;

$fs-xxl: 2rem; // 32px
$fs-xl: 1.75rem; // 28px
$fs-lg: 1.375rem; // 22px
$fs-md: 1.125rem; // 18px
$fs-sm: 0.875rem; // 14px
$fs-xs: 0.75rem; // 12px
$fs-xxs: 0.5rem; // 8px

$fw-black: 900;
$fw-bold: 800;
$fw-medium: 500;
$fw-regular: 400;
$fw-light: 300;
