{% load wagtailcore_tags wagtailimages_tags %}

{% load article_tags %}

<div class="podcast">
  <a class="podcast-thumbnail" href="{% pageurl podcast %}">
    {% image podcast.featured_image fill-120x120 alt="" class="podcast-thumbnail__image" %}
    <div class="podcast-thumbnail__badge"><i class="fas fa-podcast"></i></div>
  </a>
  <div>
    <h4 class="podcast__title"><a class="podcast__link" href="{% pageurl podcast %}">{{ podcast.title }}</a></h4>
    {% for author in podcast.authors.all %}
    <a href="{% url 'user:profile_view' author.username %}" class="hp-link-primary">{{ author.first_name }} {{ author.last_name }}</a> {% if not forloop.last %}, {% endif %}
    {% empty %}
    <span>HPTX</span>
    {% endfor %}
    <p class="fo-high podcast__episodes">{{ podcast.get_children.live.count }} Episodes</p>
    {% get_last_podcast podcast as last_episode %}
    <p class="fo-high"><span class="podcast__last">Last:</span> {% if last_episode %}<a class="podcast__link" href="{% pageurl last_episode %}">{{ last_episode.title }}</a>{% else %}-{% endif %}</p>
  </div>
</div>
