.hptx-avatar {
    height: 5rem;
    margin: 0;
    position: relative;
    overflow: hidden;
    width: 5rem;
    background-color: $navy-light;

    &.hptx-avatar--small {
        width: 2rem;
        height: 2rem;
    }

    &.hptx-avatar--rounded {
        border-radius: 2*$border-rounded-border-radius;
    }

    &.hptx-avatar--circle {
        border-radius: 50%;
    }

    .hptx-avatar__image {
      height: 100%;
      left: 50%;
      max-width: none;
      position: absolute;
      transform: translate(-50%, -50%);
      top: 50%;
      vertical-align: initial;
      width: auto;
    }

    .hptx-avatar__image--default {
      height: 60%;
    }
}
