$card-body-padding-horizontal: round($global-medium-gutter / 4);
$card-body-padding-horizontal-l: round($global-gutter / 4);
$card-body-padding-vertical: round($global-medium-gutter / 2);
$card-body-padding-vertical-l: round($global-gutter / 2);
$card-default-box-shadow: none;


.uk-card-default {
  border-radius: $border-rounded-border-radius;
}

.uk-card--twitter-feed {
  .uk-card-body {
    padding-top: 0.5rem;
  }
}
