.uk-list {
  font-weight: 500;
  font-size: $fs-xs;

  &.uk-list--primary {
    font-weight: 900;
  }

  &.uk-list--menu {

    a, .uk-link {
      color: $brand-secondary;
    }

    .uk-list__hp-badge {
      display: inline-block;
      margin-right: round($global-medium-gutter / 4);
      text-align: center;
      width: 1.25rem;
    }

    .uk-list__active {
      a, .uk-link {
        color: $brand-primary;
      }

      li {
        border-left: 2px solid $orange;
        position: relative;
      }
    }
  }

  &.uk-list--top-menu {
    align-items: center;
    display: flex;
    flex-flow: row nowrap;

    a, .uk-link {
      color: $white;
    }

    .uk-list__hp-badge {
      margin-right: round($global-medium-gutter / 4);
      text-align: center;
      width: 1.5rem;
    }
  }

}
