.uk-list {
  font-weight: 500;
  font-size: $fs-sm;

  &.uk-list--primary {
    font-weight: 900;
  }

  &.uk-list--menu {

    a, .uk-link {
      color: $global-color;
    }

    .uk-list__hp-badge {
      margin-right: round($global-medium-gutter / 4);
      text-align: center;
      width: 1.125rem;
    }
  }

}
