$search-default-background: $light-grey;
$search-default-focus-background: $white;
$search-icon-color: rgba($navy, 0.5);
$search-default-width: 100%;
$search-default-padding-horizontal: 10px;

@mixin hook-search-input(){
    font-size: $fs-sm;
    border-radius: $border-rounded-border-radius/2;
    border: 1px solid $search-default-background;  
}

@mixin hook-search-toggle(){}

@mixin hook-search-toggle-hover(){}

@mixin hook-search-misc(){
    .uk-hp-icon-locarion {

        & > svg {
            display: none;
        }

        & > i {
            transform: translateX(6px);
        }
    }
}

@mixin hook-search-default-input(){}

@mixin hook-search-default-input-focus(){
    border: 1px solid $dark-grey;
}