// Fonts
$global-font-color: $navy;
$global-font-family: $font-primary;

$global-xlarge-font-size:                        $fs-xl;     // 28px
$global-large-font-size:                         $fs-lg;   // 22px
$global-medium-font-size:                        $fs-md;  // 20px
$global-small-font-size:                         $fs-xs; // 12px

$global-color: $brand-secondary;
$global-link-color: $brand-primary;

// Margins

$global-margin: 8px;
$global-small-margin: 16px;
$global-medium-margin: 32px;
$global-large-margin: 56px;
$global-xlarge-margin: 112px;

// Paddings

$global-gutter: 32px;
$global-small-gutter: 16px;
$global-medium-gutter: 32px;
$global-large-gutter: 64px;