// Fonts
$global-font-color: $navy;
$global-font-family: $font-primary;

$global-xlarge-font-size:                        $fs-xl;     // 32px
$global-large-font-size:                         $fs-lg;   // 24px
$global-medium-font-size:                        $fs-md;  // 20px
$global-small-font-size:                         $fs-sm; // 12px

$global-color: $brand-secondary;
$global-link-color: $brand-primary;
