// margins

.mr-sm {
  margin-right: 1rem;
}

.mr-xs {
  margin-right: 0.75rem;
}

.mr-xxs {
  margin-right: 0.5rem;
}

.mb-sm {
  margin-bottom: 1rem;
}

.mb-xs {
  margin-bottom: 0.75rem;
}

.mb-xxs {
  margin-bottom: 0.5rem;
}

.mr-icon {
  margin-right: 0.25rem;
}
