// colors
.fc-twitter {
  color: $twitter;
}

.fc-facebook {
  color: $facebook;
}

.fc-instagram {
  color: $instagram;
}

.fc-brand-primary {
  color: $brand-primary;
}

.fc-brand-secondary {
  color: $brand-secondary;
}

.fc-brand-secondary-light {
  color: $brand-secondary-light;
}

.fc-brand-secondary-lighter {
  color: $brand-secondary-lighter;
}

.fc-white {
  color: $white;
}

.fc-grey {
  color: $grey;
}

.fc-yellow{
  color: $yellow;
}

.fc-dark-red{
  color: $dark-red;
}
// weights
.fw-black {
  font-weight: $fw-black;
}

.fw-bold {
  font-weight: $fw-bold;
}

.fw-medium {
   font-weight: $fw-medium;
}

.fw-regular {
   font-weight: $fw-regular;
}

.fw-light {
  font-weight: $fw-light;
}

//sizes
.fs-huge {
  font-size: $fs-huge;
}
.fs-xxl {
  font-size: $fs-xxl;
}
.fs-xl {
  font-size: $fs-xl;
}
.fs-lg-xl {
  font-size: $fs-lg-xl;
}
.fs-lg {
  font-size: $fs-lg;
}
.fs-md {
  font-size: $fs-md;
}
.fs-sm {
  font-size: $fs-sm;
}
.fs-xs {
  font-size: $fs-xs;
}
.fs-xxs {
  font-size: $fs-xxs;
}

//opacity
.fo-high {
  opacity: 0.8;
}
.fo-medium{
  opacity: 0.5;
}
//align
.ta-center{
  text-align: center;
}

// family
.ff-title {
  font-family: $font-title;
}

.lh-1 {
  line-height: 1;
}
