{% extends "base/base.html" %}
{% load static wagtailcore_tags wagtailimages_tags user_tags %}

{% block body_class %}template-public-profile{% endblock %}

{% block left-sidebar-content %}
{% endblock left-sidebar-content %}

{% block content %}

<form action="" method="post" enctype="multipart/form-data">
  {% csrf_token %}
<div class="uk-card uk-card-primary uk-card-primary--profile uk-card-primary--profile-edit">
  <div class="uk-hp-card-primary-wrapper">
    <div class="uk-card-header">
      <div class="uk-flex uk-flex-between uk-padding uk-padding-remove-horizontal">
        <div class="uk-flex">
          <div class="hptx-avatar hptx-avatar--rounded uk-margin-small-right">{% if user.photo %}{% image user.photo fill-80x80 class="hptx-avatar__image" alt="{{ user.get_full_name }}" %}{% else %}<img class="hptx-avatar__image hptx-avatar__image--default" src="{% static 'src/assets/Feed/LogoHP@2x.png'%}" alt="{{ user.get_full_name }}" />{% endif %}</div>
          <div class="uk-flex uk-flex-column uk-flex-center">
            <h3 class="uk-card-title fw-bold uk-margin-remove-vertical">{{ user.first_name }} {{ user.last_name }}</h3>
            {% rating user.rating %}
          </div>
        </div>
        {% if user.is_talent %}<span class="uk-flex-none uk-badge fw-black">Suscriptor Pro</span>{% endif %}
      </div>
    </div>
  </div>
  <div class="uk-card-body uk-padding">
    <form>
      <div class="uk-grid uk-child-width-expand">
        <div class="uk-margin-small-right">
          <legend class="uk-legend fw-bold"><label class="uk-form-label" for="first_name">First name</label></legend>
          <div class="uk-margin uk-margin-small-bottom">
            <input class="uk-input" id="first_name" name="first_name" type="text" placeholder="Your first name" value="{{ form.first_name.value|default:"" }}">
            {% for error in form.errors.first_name %}
              <span class="fs-xs fw-medium fc-brand-primary">{{ error }}</span>
            {% endfor %}
          </div>
        </div>
        <div>
          <legend class="uk-legend fw-bold"><label class="uk-form-label" for="last_name">Last name</label></legend>
          <div class="uk-margin uk-margin-small-bottom">
            <input class="uk-input" id="last_name" name="last_name" type="text" placeholder="Your last name" value="{{ form.last_name.value|default:"" }}">
            {% for error in form.errors.last_name %}
              <span class="fs-xs fw-medium fc-brand-primary">{{ error }}</span>
            {% endfor %}
          </div>
        </div>
      </div>
      <legend class="uk-legend fw-bold"><label for="email">Email Address</label></legend>
      <div class="uk-margin uk-margin-small-bottom">
        <input class="uk-input" type="text" id="email" name="email" value="{{ form.email.value|default:"" }}" placeholder="example@domain.com">
        {% for error in form.errors.email %}
          <span class="fs-xs fw-medium fc-brand-primary">{{ error }}</span>
        {% endfor %}
      </div>
      <legend class="uk-legend fw-bold"><label for="birthday">Birthdate</label></legend>
      <div class="uk-margin uk-margin-small-bottom">
        <input class="uk-input" type="text" id="birthday" name="birthday" value="{{ form.birthday.value|default:""|date:"m/d/Y" }}" placeholder="07/20/1969">
        {% for error in form.errors.birthday %}
          <span class="fs-xs fw-medium fc-brand-primary">{{ error }}</span>
        {% endfor %}
      </div>
      <legend class="uk-legend fw-bold"><label for="city">City</label></legend>
      <div class="uk-margin uk-margin-small-bottom">
        <input class="uk-input" type="text" id="city" name="city" value="{{ form.city.value|default:"" }}" placeholder="Houston">
        {% for error in form.errors.city %}
          <span class="fs-xs fw-medium fc-brand-primary">{{ error }}</span>
        {% endfor %}
      </div>
      <legend class="uk-legend fw-bold"><label for="state">State</label></legend>
      <div class="uk-margin uk-margin-small-bottom">
        <input class="uk-input" type="text" id="state" name="state" value="{{ form.state.value|default:"" }}" placeholder="Texas">
        {% for error in form.errors.state %}
          <span class="fs-xs fw-medium fc-brand-primary">{{ error }}</span>
        {% endfor %}
      </div>
      <legend class="uk-legend fw-bold"><label for="twitter_handler">Twitter Account</label></legend>
      <div class="uk-margin uk-margin-small-bottom">
        <input class="uk-input" type="text" id="twitter_handler" name="twitter_handler" value="{{ form.twitter_handler.value|default:"" }}" placeholder="@twitter">
        {% for error in form.errors.twitter_handler %}
          <span class="fs-xs fw-medium fc-brand-primary">{{ error }}</span>
        {% endfor %}
      </div>
      <legend class="uk-legend fw-bold">Short Bio</legend>
      <div class="uk-margin uk-margin-small-bottom">
        <textarea class="uk-textarea" name="bio" rows="4" placeholder="140 Characters Max.">{{ form.bio.value|default:""}}</textarea>
        {% for error in form.errors.bio %}
          <span class="fs-xs fw-medium fc-brand-primary">{{ error }}</span>
        {% endfor %}
      </div>
      <legend class="uk-legend fw-bold">Change photo</legend>
      <div class="uk-margin uk-margin-small-bottom">
        <div uk-form-custom="target: true" class="uk-flex">
          <input type="file" id="image" name="image">
          {% for error in form.errors.image %}
            <span class="fs-xs fw-medium fc-brand-primary">{{ error }}</span>
          {% endfor %}
          <input class="uk-input" type="text" placeholder="Select a file if you want to change your photo" disabled>
        </div>
      </div>
    </form>
    <div class="uk-flex uk-margin uk-flex-middle uk-margin-small-top uk-button-group uk-hp-button-group-spaced ">
      <input type="submit" class="uk-button uk-button-secondary" value="Save Changes">
      <a href="{% url "user:logout" %}" class="uk-button uk-button-link"><i class="fas fa-power-off uk-hp-icon-left"></i>Logout</a>
    </div>
  </div>
</div>
</form>
{% endblock %}


{% block right-sidebar-content %}
{% endblock right-sidebar-content %}

