{% extends "base/base.html" %}
{% load wagtailcore_tags wagtailimages_tags user_tags %}

{% block body_class %}template-public-profile{% endblock %}
{% block content %}

<div class="uk-card uk-card-primary uk-card-primary--profile">
  <div class="uk-hp-card-primary-wrapper">
    <div class="uk-card-header">
      <div class="uk-flex uk-flex-between uk-padding">
        <div class="uk-flex">
          <div class="hptx-avatar hptx-avatar--rounded uk-margin-small-right">
            {% image user.photo fill-80x80 %}
          </div>
          <div class="uk-flex uk-flex-column uk-flex-center">
            <h3 class="uk-card-title fw-bold uk-margin-remove-vertical">{{ user.first_name }} {{ user.last_name }}</h3>
            {% rating user.rating %}
          </div>
        </div>
        {% if user.is_talent %}<span class="uk-flex-none uk-badge fw-black">Contributor</span>{% endif %}
      </div>
    </div>
  </div>
  <div class="uk-card-body uk-padding">
    <div class="uk-flex uk-flex-between uk-margin-small-bottom">
      {% if user.twitter_handler %}<a target="_blank" href="https://twitter.com/{{ user.twitter_handler }}" class="uk-link-text fs-sm"><i class="fab fa-twitter uk-margin-right"></i>@{{ user.twitter_handler }}</a>{% endif %}
      <div class="fs-sm">{{ articles.count }} Article{{ articles.count|pluralize }} Published</div>
    </div>
    {% if user.state or user.city %}
    <div class="uk-flex">
      <div class="uk-hp-user-location fs-sm"><i class="fas fa-map-marker uk-margin-right"></i>{{ user.city }}{% if user.city and user.state %}, {% endif %}{{ user.state }}</div>
    </div>
    {% endif %}
  </div>
  {% if user.bio %}
  <div class="uk-divider-icon"></div>
  <div class="uk-card-footer uk-padding">
    <p class="fs-sm">{{ user.bio }}</p>
  </div>
  {% endif %}
</div>

<div class="uk-card uk-hp-card-muted uk-margin-small-top">
  <div class="uk-card-header fw-black">
      {{ user.first_name }} Activity
  </div>
  {% if not articles.count %}
  <div class="uk-card-body">
    <p>There is no activity for {{ user.first_name }}.</p>
  </div>
  {% else %}
  {% for article in articles %}
      {% include "article/article_list_item.html" with article=article first=forloop.first %}
  {% endfor %}
  {% endif %}
</div>



{% endblock %}
