{% extends "base/base.html" %}

{% load wagtailcore_tags wagtailimages_tags hitcount_tags social_share %}

{% load article_tags %}

{% block extrahtml %}prefix="og: http://ogp.me/ns#"{% endblock %}
{% block extra_head_tags %}
  <meta property="og:type" content="article">
  <meta property="og:title" content="{{page.title}}">
  <meta name="twitter:title" content="{{page.title}}">
  {% for article in page.get_children %}
    {% if article.featured_image %}
      <meta property="og:image" content="{% image article.featured_image original %}">
      <meta name="twitter:image" content="{% image article.featured_image original %}">
    {% else %}
      <meta property="og:image" content="{% static 'src/assets/Navbar/Logo.png'%}">
      <meta name="twitter:image" content="{% static 'src/assets/Navbar/Logo.png'%}">
    {% endif %}
    {% for author in article.authors.all %}
      <meta name="author" content="{{ author.first_name }} {{ author.last_name }}">
    {% endfor %}
  {% endfor %}

{% endblock %}

{% block body_class %}article_page{% endblock %}

{% block content %}
<div class="uk-card uk-card-secondary">
  <div class="uk-card-header">
    <h2>Podcasts - {{ page.title }}</h2>
    <div class="uk-hp-card-header__badge uk-hp-card-header__badge--icon"><i class="fas fa-podcast"></i></div>
  </div>
  {% for article in page.get_children %}
      {% include "article/article_list_item.html" with article=article.specific first=forloop.first %}
  {% endfor %}
</div>
{% endblock %}
