{% extends "base/base.html" %}

{% load static %}

{% load wagtailcore_tags wagtailimages_tags %}

{% load article_tags %}

{% block page_background %}
<div>
  {% image tag.main_image original class="body-page-background" alt="" %}
</div>
{% endblock page_background %}

{% block content %}
<div class="uk-card uk-card-secondary">
  <div class="uk-card-header">
    <h2>Podcasts</h2>
    <div class="uk-hp-card-header__badge uk-hp-card-header__badge--icon"><i class="fas fa-podcast"></i></div>
  </div>
  <div class="uk-card-body">
    <div class="podcast">
      <div class="podcast__image-wrapper">
        <img class="podcast__image" src="https://i.kym-cdn.com/entries/icons/original/000/013/564/doge.jpg" alt="" />
        <div class="podcast__badge"><i class="fas fa-podcast"></i></div>
      </div>
      <div>
        <h4 class="podcast__title">Title</h4>
        <a href="">Junihno Pernambucano</a>
        <p>12 Episodies </p>
        <p><span class="podcast__last">Last:</span> Roman Reigns Diagnosed with Leukemia </p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
