{% extends "base/base.html" %}

{% load static %}

{% load wagtailcore_tags wagtailimages_tags %}

{% load article_tags %}

{% block page_background %}
<div>
  {% image tag.main_image original class="body-page-background" alt="" %}
</div>
{% endblock page_background %}

{% block content %}
<div class="uk-card uk-card-secondary">
  <div class="uk-card-header">
    <h2>Podcasts</h2>
    <div class="uk-hp-card-header__badge uk-hp-card-header__badge--icon"><i class="fas fa-podcast"></i></div>
  </div>
  {% for article in articles %}
      {% include "article/article_list_item.html" with article=article first=forloop.first %}
  {% endfor %}
</div>
{% endblock %}
