{% extends "base/base.html" %}

{% load wagtailcore_tags wagtailimages_tags hitcount_tags social_share %}

{% load article_tags %}

{% block extrahtml %}prefix="og: http://ogp.me/ns#"{% endblock %}
{% block extra_head_tags %}
  <meta property="og:type" content="article">
  <meta property="og:title" content="{{page.title}}">
  <meta name="twitter:title" content="{{page.title}}">
  {% if page.featured_image %}
    <meta property="og:image" content="{{page.featured_image}}">
    <meta name="twitter:image" content="{{page.featured_image}}">
  {% else %}
    <meta property="og:image" content="{% static 'src/assets/Navbar/Logo.png'%}">
    <meta name="twitter:image" content="{% static 'src/assets/Navbar/Logo.png'%}">
  {% endif %}
  {% for author in page.authors.all %}
    <meta name="author" content="{{ author.first_name }} {{ author.last_name }}">
  {% endfor %}

{% endblock %}

{% block body_class %}article_page {% if settings.home.GlobalSettings.enable_paywall and user.is_anonymous %}body-modal-opened{% endif %}{% endblock %}

{% block content %}
<div class="uk-card uk-card-primary uk-card-primary--article">
  <article class="uk-card-body">
    <h3 class="uk-card-title uk-card-title--important">{{page.title}}</h3>
    <div class="uk-flex uk-flex-between fw-medium uk-margin-small-top uk-flex-middle uk-margin-small-bottom">
      <span>
        {% for author in page.authors.all %}
        <a href="{% url 'user:profile_view' author.username %}" class="hp-link-primary">{{ author.first_name }} {{ author.last_name }}</a> {% if not forloop.last %}, {% endif %}
        {% empty %}
        HPTX
        {% endfor %}
        on {{ page.publication_date|date }}
      </span>
      <div class="uk-flex-inline">
        {% if homepage.has_social_links %}
        <div class="uk-margin-small-right">{% post_to_facebook page.full_url "Share" %}</div>
        {% post_to_twitter "{{ page.title }}" page.full_url "Tweet" %}
        {% endif %}
      </div>
    </div>
    <div>
      {% if page.featured_image %}
        {% image page.featured_image original alt="" class="uk-hp-article-main-media" %}
      {% elif not settings.home.GlobalSettings.enable_paywall or user.is_authenticated %}
        <div class="uk-hp-article-main-media">{{ page|youtube_block }}</div>
      {% endif %}
    </div>
    <div class="uk-hp-article-body uk-margin-small-top uk-margin-medium-bottom">
      {% if page.featured_image %}
          {% include "article/partials/article_content.html" with article=page %}
      {% else %}
          {% include "article/partials/article_content.html" with article=page excluded=page|youtube_block %}
      {% endif %}

    </div>
    {% include "article/partials/article_tags_bottom.html" with article=page %}
  </article>
</div>
{% endblock %}
