{% extends "base/base.html" %}
{% load static wagtailuserbar wagtailcore_tags wagtailimages_tags %}
{% block left-sidebar-content %}
{% endblock left-sidebar-content %}
{% block right-sidebar-content %}
{% endblock right-sidebar-content %}
{% block navbar-right %}
{% endblock navbar-right %}



{% block content %}

<div class="uk-position-cover uk-hp-margin-nav-top uk-background-default">
  <div class="uk-flex uk-flex-between uk-background-default">
    <div class="uk-width-1-3 uk-flex uk-flex-middle">
      <div class="uk-margin-auto uk-width-medium uk-padding uk-padding-remove-horizontal">
        <div class="fc-brand-secondary uk-margin-medium-bottom">
          <img src="{% static 'src/assets/Feed/LogoLogin.png'%}"/>
          <h2 class="fs-lg fw-black fo-high fc-brand-secondary">Log In</h2>
          <p class="fs-sm">Nullam venenatis eu sem id hendrerit. In lorem augue, porttitor nec lorem eu, vehicula tincidunt lectus. Nullam congue, nunc id laoreet mattis, augue quam tempor mauris, in mollis justo diam vel metus. </p>
        </div>

        <form method="post" action="{% url 'user:login' %}">
          {% csrf_token %}
          <div>
            <div class="uk-margin-medium">
               <div class="uk-inline uk-width-expand">
                   <span class="uk-form-icon uk-form-icon-flip"><i class="fas fa-user"></i></span>
                   <input id="id_username" name="username" required="required" type="text" placeholder="Username" class="uk-input"/>
               </div>
               <span class="fs-xs fw-medium">Feedback Value</span>
            </div>
            <div class="uk-margin-medium">
                <div class="uk-inline uk-width-expand">
                  <span class="uk-form-icon uk-form-icon-flip"><i class="fas fa-lock"></i></span>
                  <input id="id_password" name="password" required="required" type="text" placeholder="Password" class="uk-input"/>
                </div>
                <span class="fs-xs fw-medium">Feedback Value</span>
            </div>
          </div>
          <div class="uk-flex uk-flex-start">
            <input type="submit" value="log in" class="uk-button uk-button-primary">
            <a href="#" class="uk-margin-medium-left uk-flex uk-flex-middle hp-link-secondary">
              <span class="fs-xs"><i class="fas fa-lock"></i></span>
              <span class="uk-margin-left fs-xs">Forgot Password</span>
            </a>
          </div>

          <input type="hidden" name="next" value="{{ next }}">
        </form>
        <div class="uk-margin-medium uk-hp-login-subscribe uk-padding-small uk-padding-remove-horizontal">
          <span class="fs-xs fc-brand-secondary fw-black uk-margin-right">Don't have an account?</span><a href="#" class="fs-xs hp-link-primary">Subscribe Now!</a>
        </div>
      </div>
    </div>
    <div class="uk-width-2-3 uk-background-cover uk-hp-login-bg">
      <div class="uk-position-bottom-right uk-margin-large-right uk-margin-large">
        {% if homepage.talent_of_the_week %}{% include "user/auth/talent_login.html" with user=homepage.talent_of_the_week %}{% endif %}
      </div>
    </div>

  </div>

</div>


{% endblock %}
