{% extends "base/base.html" %}

{% load static %}

{% block left-sidebar-content %}
{% endblock left-sidebar-content %}
{% block right-sidebar-content %}
{% endblock right-sidebar-content %}
{% block navbar-right %}
{% endblock navbar-right %}



{% block content %}
<div class="uk-position-cover-medium uk-hp-margin-nav-top uk-background-default">
  <div class="uk-flex uk-flex-between uk-background-default">
    <div class="uk-width-1-2@m uk-flex uk-flex-middle">
      <div class="uk-margin-auto uk-width-large uk-padding uk-padding-remove-horizontal@m">
        <div class="fc-brand-secondary uk-margin-medium-bottom">
          <h2 class="fs-xl fw-black fo-high fc-brand-secondary">Yearly Plan Subscription</h2>
          <p class="fs-md">Please enter information on the form below to process subscription for Yearly Plan.</p>
          <p class="fs-md fw-black fo-medium">Account Information</p>
        </div>

        <signup-form
          plan="{{plan}}"
          :amount="{% if plan == 'silver' %}5{% elif plan == 'gold' %}30{% elif plan == 'platinum'%}50{% endif %}"
          public-key="{{ STRIPE_PUBLIC_KEY }}"
          image="{% static 'src/assets/Navbar/Logo.png' %}"
          success-url="{% url 'user:profile_edit_view' %}"></signup-form>
      </div>
    </div>
    <div class="uk-visible@m uk-width-1-2 uk-background-cover uk-hp-login-bg uk-flex uk-position-relative uk-flex-column">
      <div class="uk-margin-auto uk-margin-auto-vertical" >
        <div class="uk-card uk-card-default uk-margin-bottom uk-width-medium uk-position-relative">
          <div class="uk-hp-card-border uk-position-top-center"></div>
          <div class="uk-card-body uk-flex uk-flex-middle uk-flex-column uk-padding">
            <span class="fs-xxl fw-black">${% if plan == "silver" %}5{% elif plan == "gold" %}30{% elif plan == "platinum"%}50{% endif %}</span>
            <span class="fs-xs fw-black">PER {% if plan == "silver" %}MONTH {% elif plan == "gold" %}YEAR{% elif plan == "platinum"%}2 YEARS{% endif %}</span>
            <span class="fs-lg fw-black uk-margin-medium-top">{{ plan|title }} Plan</span>
            <!-- <p class="fs-sm ta-center">Cras fringilla justo odio, quis rutrum risus aliquam eget. Pellentesque euismod ultrices nisl.</p> -->
            <a href="{% url 'plans' %}" class="hp-link-primary fw-medium fs-xs"><i class="fas fa-angle-left uk-margin-right"></i>Change Plan</a>
          </div>
          <hr class="hptx-divider-nogutter">
          <div class="uk-card-body uk-padding">
            <ul class="uk-list uk-list--menu">
              {% if plan == "silver" %}
              <li class="fs-sm"><span class="uk-list__hp-badge"><i class="fas fa-check-circle fc-grey"></i></span>24/7 Live Coverage</li>
              <li class="fs-sm"><span class="uk-list__hp-badge"><i class="fas fa-check-circle fc-grey"></i></span>100+ Videos</li>
              <li class="fs-sm"><span class="uk-list__hp-badge"><i class="fas fa-check-circle fc-grey"></i></span>100+ Writers</li>
              <li class="fs-sm"><span class="uk-list__hp-badge"><i class="fas fa-check-circle fc-grey"></i></span>100+ Podcasts</li>
              <li class="fs-sm"><span class="uk-list__hp-badge"><i class="fas fa-check-circle fc-grey"></i></span>Access to Entire Site</li>
              <li class="fs-sm"><span class="uk-list__hp-badge"><i class="fas fa-check-circle fc-grey"></i></span>Build HP Credibility</li>
              {% elif plan == "gold" %}
              <li class="fs-sm"><span class="uk-list__hp-badge"><i class="fas fa-check-circle fc-grey"></i></span>24/7 Live Coverage</li>
              <li class="fs-sm"><span class="uk-list__hp-badge"><i class="fas fa-check-circle fc-grey"></i></span>100+ Videos, Writers & Podcasts</li>
              <li class="fs-sm"><span class="uk-list__hp-badge"><i class="fas fa-check-circle fc-grey"></i></span>Access to Entire Site</li>
              <li class="fs-sm"><span class="uk-list__hp-badge"><i class="fas fa-check-circle fc-grey"></i></span>Build HP Credibility</li>
              <li class="fs-sm fw-black"><span class="uk-list__hp-badge"><i class="fas fa-check-circle fc-grey"></i></span>100 HP Credit*</li>
              <li class="fs-sm fw-black"><span class="uk-list__hp-badge"><i class="fas fa-check-circle fc-grey"></i></span>Start As 1-STAR</li>
              <li class="fs-sm fw-black"><span class="uk-list__hp-badge"><i class="fas fa-check-circle fc-grey"></i></span>25% Off 1-HP Shirt</li>
              {% elif plan == "platinum"%}
              <li class="fs-sm"><span class="uk-list__hp-badge"><i class="fas fa-check-circle fc-grey"></i></span>24/7 Live Coverage</li>
              <li class="fs-sm"><span class="uk-list__hp-badge"><i class="fas fa-check-circle fc-grey"></i></span>100+ Videos, Writers & Podcasts</li>
              <li class="fs-sm"><span class="uk-list__hp-badge"><i class="fas fa-check-circle fc-grey"></i></span>Access to Entire Site</li>
              <li class="fs-sm"><span class="uk-list__hp-badge"><i class="fas fa-check-circle fc-grey"></i></span>Build HP Credibility</li>
              <li class="fs-sm fw-black"><span class="uk-list__hp-badge"><i class="fas fa-check-circle fc-grey"></i></span>500 HP Credit*</li>
              <li class="fs-sm fw-black"><span class="uk-list__hp-badge"><i class="fas fa-check-circle fc-grey"></i></span>Start As 2-STAR</li>
              <li class="fs-sm fw-black"><span class="uk-list__hp-badge"><i class="fas fa-check-circle fc-grey"></i></span>50% Off 1-HP Shirt</li>
              <li class="fs-sm fw-black uk-flex"><span class="uk-list__hp-badge"><i class="fas fa-check-circle fc-grey"></i></span>Free Seat at HP Christmas Poker Tourney & Shot at $10,000</li>
              {% endif %}
              </ul>
          </div>
        </div>
      </div>
      <div class="uk-flex uk-margin-auto uk-margin-large  uk-flex-between uk-flex-top" >
        {% if homepage.talent_of_the_week %}{% include "user/auth/talent_login.html" with user=homepage.talent_of_the_week %}{% endif %}
      </div>
    </div>

  </div>

</div>
{% endblock %}


{% block extra_js %}
<script src="https://checkout.stripe.com/checkout.js"></script>
{{ block.super }}
{% endblock %}
