{% extends "base/base.html" %}
{% block left-sidebar-content %}
{% endblock left-sidebar-content %}
{% block right-sidebar-content %}
{% endblock right-sidebar-content %}
{% block navbar-right %}
{% endblock navbar-right %}



{% block content %}

<div class="uk-position-cover uk-hp-margin-nav-top uk-background-default">
  <div class="uk-flex uk-flex-between uk-background-default">
    <div class="uk-width-1-2 uk-flex uk-flex-middle">
      <div class="uk-margin-auto uk-width-large uk-padding uk-padding-remove-horizontal">
        <div class="fc-brand-secondary uk-margin-medium-bottom">
          <h2 class="fs-xl fw-black fo-high fc-brand-secondary">Yearly Plan Subscription</h2>
          <p class="fs-md">Please enter information on the form below to process subscription for Yearly Plan.</p>
          <p class="fs-md fw-black fo-medium">Account Information</p>
        </div>

        <signup-form></signup-form>
      </div>
    </div>
    <div class="uk-width-1-2 uk-background-cover uk-hp-login-bg uk-flex uk-position-relative uk-flex-column">
      <div class="uk-margin-auto uk-margin-auto-vertical" >
        <div class="uk-card uk-card-default uk-margin-bottom uk-width-medium uk-position-relative">
          <div class="uk-hp-card-border uk-position-top-center"></div>
          <div class="uk-card-body uk-flex uk-flex-middle uk-flex-column uk-padding">
            <span class="fs-xxl fw-black">$50</span>
            <span class="fs-xs fw-black">PER YEAR</span>
            <span class="fs-lg fw-black uk-margin-medium-top">Yearly Plan</span>
            <p class="fs-sm ta-center">Cras fringilla justo odio, quis rutrum risus aliquam eget. Pellentesque euismod ultrices nisl.</p>
            <a href="#" class="hp-link-primary fw-medium fs-xs"><i class="fas fa-angle-left uk-margin-right"></i>Change Plan</a>
          </div>
          <hr class="hptx-divider-nogutter">
          <div class="uk-card-body uk-padding">
            <ul class="uk-list uk-list--menu">
              <li class="fs-sm"><span class="uk-list__hp-badge"><i class="fas fa-check-circle fc-brand-primary"></i></span>Nam eros neque</li>
              <li class="fs-sm"><span class="uk-list__hp-badge"><i class="fas fa-check-circle fc-brand-primary"></i></span>Praesent arcu ipsum posuere</li>
              <li class="fs-sm"><span class="uk-list__hp-badge"><i class="fas fa-check-circle fc-brand-primary"></i></span>Aliquam risus augue</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="uk-flex uk-margin-auto uk-margin-large  uk-flex-between uk-flex-top" >
        {% if homepage.talent_of_the_week %}{% include "user/auth/talent_login.html" with user=homepage.talent_of_the_week %}{% endif %}
      </div>
    </div>

  </div>

</div>


{% endblock %}
